/* Using animation */

.fadein {
  animation: fadeInLanding 1.2s ease-in-out 0s;
}

/* It go bouncy bounce */
@keyframes upDown {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(20px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Fade into page once landed */
@keyframes fadeInLanding {
  from {
    opacity: 0%;
    transform: translateY(30px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
