/* Using animation */

.fadein {
  animation: fadeInLanding 1.2s ease-in-out 0s;
}
#svgepisodethumbs {
  animation: episodescroll 10s ease infinite;
}
#menuslides {
  animation: menuslides 20s ease alternate infinite;
}
#svgepisodelarge {
  animation: episodesfade 10s linear infinite;
  opacity: 0;
}
#cursorposition {
  animation: cursorposition 10s ease infinite;
}
#cursorpointer {
  animation: pointeropacity 10s ease infinite;
}
#cursordefault {
  animation: defaultopacity 10s ease infinite;
}
#episodehover {
  animation: episodehover 10s ease infinite;
}
#overlay {
  animation: overlay 10s ease infinite;
}
#player {
  animation: overlay 10s ease infinite;
}
#amazonpage {
  animation: scrolling 20s ease infinite;
}
#ship1 {
  animation: ship1 30s ease infinite;
}
#ship2 {
  animation: ship2 30s ease infinite;
}
#ship3 {
  animation: ship3 30s ease infinite;
}
#ship4 {
  animation: ship4 30s ease infinite;
}
#ship5 {
  animation: ship5 30s ease infinite;
}
#ship6 {
  animation: ship6 30s ease infinite;
}
#ship7 {
  animation: ship7 30s ease infinite;
}
/* It go bouncy bounce */
@keyframes upDown {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(20px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Fade into page once landed */
@keyframes fadeInLanding {
  from {
    opacity: 0%;
    transform: translateY(30px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes episodescroll {
  20% {
    x: 0px;
  }
  50% {
    x: -2800px;
  }
  100% {
    x: -2800px;
  }
}
@keyframes episodesfade {
  0% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  59% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cursorposition {
  0% {
    transform: translate(755px, 741px);
  }
  18% {
    transform: translate(902px, 928px);
  }
  22% {
    transform: translate(656px, 923px);
  }
  50% {
    transform: translate(656px, 923px);
  }
  57% {
    transform: translate(1102px, 914px);
  }
  60% {
    transform: translate(1102px, 914px);
  }
  70% {
    transform: translate(150px, 730px);
  }
  100% {
    transform: translate(823px, 500px);
  }
}
@keyframes defaultopacity {
  0% {
    opacity: 1;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pointeropacity {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  62% {
    opacity: 1;
  }
  63% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes episodehover {
  0% {
    opacity: 0;
  }
  53% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes overlay {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes player {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scrolling {
  0% {
    y: 0;
  }
  5% {
    y: 0;
  }
  47% {
    y: -792;
  }
  53% {
    y: -792;
  }
  100% {
    y: 0;
  }
}
@keyframes ship1 {
  0% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ship2 {
  0% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ship3 {
  0% {
    opacity: 1;
  }
  41% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ship4 {
  0% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  59% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ship5 {
  0% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ship6 {
  0% {
    opacity: 1;
  }
  83% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ship7 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menuslides {
  0% {
    x: 1312;
    y: 90;
  }
  22% {
    x: 1312;
    y: 90;
  }
  28% {
    x: 1285;
    y: -386;
  }
  47% {
    x: 1285;
    y: -386;
  }
  53% {
    x: 1255;
    y: -862;
  }
  72% {
    x: 1255;
    y: -862;
  }
  78% {
    x: 1225;
    y: -1340;
  }
  100% {
    x: 1225;
    y: -1340;
  }
}
