/* Using animation */

.fadein {
  animation: fadeInLanding 1.2s ease-in-out 0s;
}
#svgepisodethumbs {
  animation: episodescroll 10s ease infinite;
}
#svgepisodelarge {
  animation: episodesfade 10s linear infinite;
  opacity: 0;
}

/* It go bouncy bounce */
@keyframes upDown {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(20px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Fade into page once landed */
@keyframes fadeInLanding {
  from {
    opacity: 0%;
    transform: translateY(30px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes episodescroll {
  0% {
    x: 0px;
  }
  50% {
    x: -2800px;
  }
  100% {
    x: -2800px;
  }
}
@keyframes episodesfade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
