gwd-360gallery {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  touch-action: none;
}
gwd-360gallery .gesture {
  position: absolute;
  width: 100%;
  height: 100%;
}
gwd-gesture {
  display: block;
  background-color: rgba(0, 0, 0, 0);
}
gwd-image {
  display: inline-block;
}
gwd-image > div.intermediate-element {
  width: 100%;
  height: 100%;
}
gwd-image > div.intermediate-element > img {
  display: block;
  width: 100%;
  height: 100%;
}
gwd-page {
  display: block;
}
.gallery {
  width: 100%;
  height: auto;
  max-height: 1024px;
}
