@font-face {
    font-family: "Recoleta Bold";
    src: url("https://brumbyvisuals.github.io/portfolio/fonts/Recoleta-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Recoleta SemiBold";
    src: url("https://brumbyvisuals.github.io/portfolio/fonts/Recoleta-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }
  