html {
  text-rendering: optimizelegibility;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
video source {
  width: 100%;
  height: auto;
}
a {
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

p {
  margin-bottom: 15px;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.herosection {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  border: 45px solid #fff;
  background-image: url("../img/derek.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.logowrap {
  width: min(max(256px, 40vw), 400px);
  height: auto;
  margin: 50px auto;
  max-height: 160px;
  text-align: center;
}
.logowrap svg {
  height: auto;
  width: 100%;
}
.threecolumngrid {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.5vw;
  grid-row-gap: 3.5vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.herovideo {
  position: relative;
  display: flex;
  height: auto;
  align-items: center;
  border-top: 45px solid #fff;
  background-position: 50% 50%;
  background-size: cover;
}
.point {
  animation: upDown 1s ease-in-out 0s infinite alternate;
}

.point:hover {
  animation-play-state: paused;
}

.point img {
  width: 72px;
}
.headerlink {
  margin-left: 55px;
  border-bottom: 1px solid #fff;
  transition: all 350ms ease;
  color: #09076c;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

.headerlink:hover {
  border-bottom: 1px solid #09076c;
  text-decoration: none;
}

.headerlinkwrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  margin-top: -34px;
  text-align: right;
}
.linkpadding {
  padding-right: 50px;
}

.herotextwrap {
  display: inline-block;
  width: 46vw;
  margin-top: 0px;
  margin-left: 88px;
  max-width: 710px;
}

.aboutsection {
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
  padding-top: 57px;
  padding-bottom: 57px;
  background: linear-gradient(180deg, #eeede5 0%, #b9cad5 100%);
  min-height: 100vh;
  width: 95%;
  display: flex;
  align-items: center;
}
.skillssection {
  margin-right: 45px;
  margin-bottom: 45px;
  margin-left: 45px;
  padding-top: 57px;
  padding-bottom: 57px;
  background: linear-gradient(180deg, #eeede5 0%, #b9cad5 100%);
  display: flex;
  align-items: center;
}
.flex-vertical-center-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.buttonstyle {
  background: #00000050;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 18px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 45px;
}

.aboutcontainer {
  display: block;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.projectsection {
  height: 100vh;
  background-position: 0px 0px;
  background-size: cover;
  padding: 50px;
  padding-left: 0px;
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.projectsection.soulrefiner {
  background-image: url("../img/soul.jpg");
}
.projectsection.iconic {
  background: linear-gradient(180deg, #9ee0f2 0%, #74c9df 100%);
}
.projectsection.nics2 {
  background-image: url("../img/nicsbg.jpg");
}
.projectsection.simplemills2 {
  background-image: url("../img/smbg.jpg");
}

.projectcontent {
  height: max-content;
  background: rgba(42, 63, 91, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 0px 20px 20px 0px;
  padding-left: 5%;
  width: 552px;
  padding-right: 5%;
  padding-bottom: 60px;
  padding-top: 60px;
}

.skills {
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 13px;
  padding: 3px 13px;
  border: 1px solid #ffffff50;
  background: #00000050;
  border-radius: 16px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
.skills span {
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
}

.soulrefinerimagewrap {
  display: flex;
  height: 100%;
  padding: 5%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  flex: 0 auto;
  text-align: right;
  margin: 0 auto;
}
.iconicimagewrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  flex: 0 auto;
  text-align: right;
  margin: 0 auto;
}
.nicsimagewrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  flex: 0 auto;
  text-align: right;
  margin: 0 auto;
}

.proposalimage {
  display: block;
  height: auto;
  max-height: 100%;
  flex: 0 auto;
}

.footer {
  padding: 42px 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.footerdiv {
  display: block;
  width: 50px;
  height: 3px;
  margin: 28px auto;
  background-color: #09076c;
}

.contacticons {
  margin-bottom: 50px;
}

.contactimage {
  margin-right: 30px;
  margin-left: 30px;
}

.footertext {
  font-size: 16px;
  letter-spacing: 1px;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.moredetails {
  padding-top: 8px;
  padding-bottom: 8px;
}

.dee-section-full {
  display: block;
  align-items: flex-start;
}
.dee-container {
  display: flex;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  align-items: flex-start;
}
.dee-two-col {
  display: flex;
  width: 38.336vw;
  padding-right: 2.08vw;
  padding-bottom: 0px;
  padding-left: 2.08vw;
  flex-direction: column;
  align-items: flex-start;
}
.dee-horizontal-line {
  height: 2px;
  margin-top: 0px;
  margin-left: 1vw;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 97.06%);
  opacity: 0.5;
  flex: 1 1 0%;
}
.dee-four-col {
  position: static;
  width: 76vw;
  padding-right: 2vw;
  padding-left: 2 vw;
}
.dee-flex-stretch {
  display: flex;
  margin-bottom: 3vw;
  align-items: center;
}
.dee-m-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.content {
  animation: fadeInLanding 1.2s ease-in-out 0s;
}

/*============================================
MEDIA QUERIES START HEREBELOW
============================================*/

@media (max-width: 991px) {
  .herosection {
    align-items: flex-start;
    background-image: url("../img/derek-m.jpg");
    background-position: 50% 50%;
    background-size: cover;
  }
  .herotextwrap {
    width: 90%;
    margin-top: 61px;
    margin-left: 41px;
  }

  .projectsection {
    flex-direction: column;
    height: unset;
    min-height: min-content;
  }

  .point img {
    width: 60px;
    height: 60px;
  }
  .dee-four-col {
    width: 100%;
  }
  .dee-section-full {
    padding-top: 5vw;
  }

  .dee-container {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .dee-two-col,
  .dee-two-col.spread {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .herotextwrap {
    width: 85%;
  }
  .aboutsection {
    padding-bottom: 31px;
  }

  .dee-container {
    max-width: 100%;
  }

  .dee-two-col {
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .dee-section-full {
    padding: 50px 0;
    flex-direction: column;
  }

  .dee-four-col {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .projectcontent {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .flex-vertical-center-top {
    flex-direction: column;
    align-items: center;
  }
  .threecolumngrid {
    margin-top: 40px;
    grid-row-gap: 6vw;
    grid-template-columns: 1fr;
  }
  .linkpadding {
    padding-right: 0px;
  }
  .herosection {
    border-width: 40px 0px 0px;
  }
  .headerlink {
    margin-right: 19px;
    margin-left: 19px;
  }
  .headerlinkwrapper {
    margin-top: -30px;
    text-align: center;
  }
  .herotextwrap {
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutsection {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .skillssection {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .aboutcontainer {
    padding-right: 30px;
    padding-left: 30px;
  }
  .projectsection {
    padding: 10px 30px 0px 0px;
  }
  .projectsection.soulrefiner {
    padding-top: 10px;
  }
  .soulrefinerimagewrap {
    width: 100%;
    align-self: center;
  }
  .footer {
    width: 100%;
    padding: 13px 13px 36px;
  }
  .contactimage {
    margin-right: 21px;
    margin-left: 21px;
  }
  .footertext {
    letter-spacing: 1px;
  }
  .dee-w-hidden-tiny {
    display: none !important;
  }
  .dee-section-full {
    padding-left: 0px;
  }

  .dee-flex-stretch,
  .dee-horizontal-line {
    height: 2px;
    margin-top: 0;
    margin-left: 1vw;
    flex: 1;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .dee-flex-stretch {
    display: flex;
    margin-bottom: 3vw;
    align-items: flex-start;
  }
  .dee-flex-stretch.dee-center-aligned {
    align-items: center;
  }

  .dee-position {
    margin-bottom: 0;
  }

  .dee-container {
    display: flex;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .one-col,
  .dee-two-col {
  }

  .dee-four-col {
    position: static;
    width: 76vw;
    padding-right: 2vw;
    padding-left: 2vw;
  }

  .dee-two-col {
    display: flex;
    width: 100%;
    padding-right: 2vw;
    padding-bottom: 0;
    padding-left: 2vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .dee-m-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
