.ricoleta {
  font-family: "Recoleta Bold";
}
h1 {
  font-family: "Recoleta Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: min(max(32px, 5vw), 72px);
  line-height: 150%;
  margin-bottom: 10px;
}
h2 {
  font-family: "Libre Baskerville", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: min(max(20px, 4vw), 48px);
  line-height: 140%;
  margin-bottom: 10px;
}
h3 {
  font-family: "Libre Baskerville", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: min(max(20px, 3vw), 32px);
  line-height: 140%;
  margin-bottom: 10px;
}
h4 {
  font-size: min(max(16px, 1.5vw), 24px);
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h5 {
  font-size: min(max(14px, 1.5vw), 18px);
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: min(max(14px, 1.2vw), 18px);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
}
.about-p {
  max-width: 800px;
  margin-bottom: 25px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: min(max(16px, 1.5vw), 20px);
  margin-top: 0;
  line-height: 150%;
}
.light {
  font-weight: 300;
}
.srtitle {
  font-family: "Recoleta Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 125%;
  margin-bottom: 40px;
  color: #ffffff;
}
.srtext {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(max(18px, 1.5vw), 24px);
  max-width: 540px;
  line-height: 150%;
  color: #ffffff;
}

/*============================
IMPORT TYPEFACES HERE
=============================*/
@font-face {
  font-family: "Recoleta Bold";
  src: url("../fonts/Recoleta-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta SemiBold";
  src: url("../fonts/Recoleta-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
