<div id="footer">
  <div id="media">
    <div class="icon">
      <div class="pageSectionTitle">Contact</div>
      <a href="mailto:brumbyvisuals@gmail.com" target="_blank"
        >brumbyvisuals@gmail.com</a
      >
    </div>

    <div class="sideBlanknavbottom"></div>

    <div class="icon">
      <div class="pageSectionTitle">Resume</div>
      <a href="assets/resume.pdf" target="_blank">Download here</a>
    </div>

    <div class="sideBlanknavbottom"></div>

    <div class="icon">
      <div class="pageSectionTitle">Social</div>
      <a href="" target="_blank">LinkedIn</a><br />
      <a href="" target="_blank">Instagram</a>
    </div>
  </div>

  <div class="copyright">© Made by Derek Brumby.</div>
</div>
